<section>
  <h1 class="headline-text">Edit receiver</h1>

  <form action="/receivers/<%= receiver._id %>" method="post">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" name="name" id="name" value=<%= receiver.name %> placeholder="name">
      <label for="floatingInput">Name</label>
    </div>
    <div class="form-floating mb-3">
      <input type="email" class="form-control" name="email" id="email" value=<%= receiver.email %> placeholder="name@example.com">
      <label for="floatingInput">Email address</label>
    </div>
    <button class="btn btn-success" type="submit" disabled>Edit receiver</button>
  </form>

  <% if(receiverAlreadyExist){ %>
    <div class="receiver-add-alert-warning alert alert-danger" role="alert">
      Receiver with that Email is already exist!
      <button id="already-exist-button-close" type="button" class="btn-close" aria-label="Close"></button>
    </div>
  <% } %>

</section>

<script>
  const nameInput = document.querySelector('#name');
  const emailInput = document.querySelector('#email');
  
  // enable submit button
  const addButton = document.querySelector('button[type=submit]');
  const form = document.querySelector('form[method=post]');
  buttonAriseFunc(); // enabling the button

  form.addEventListener('input', buttonAriseFunc);

  function buttonAriseFunc() {
    if(nameInput.value.length > 0 && emailInput.value.length > 0){
      addButton.disabled = false;
    }else{
      addButton.disabled = true;
    }
  };

  // already exist alert
  const warning = document.querySelector('.receiver-add-alert-warning');
  const alreadeExistCloseButton = document.querySelector('#already-exist-button-close');
  alreadeExistCloseButton.addEventListener('click', closeWarnigFunc);

  function closeWarnigFunc() {
    warning.style.display = 'none';
  };

</script>