<section>
  <h1 class="headline-text">Receivers storage</h1>

  <div class="receivers-top-tab">
    <div class="receivers-buttons">
      <a class="btn btn-primary" href="/receivers/add">Add new receivers</a>
      <button class="btn btn-danger" type="submit" form="receivers-form">Delete</button>
    </div>
    <div class="receivers-buttons">
      <input class="form-control me-2" id="searchInput" type="text" name="searchInput" placeholder="Search">
    </div>
  </div>
 
  <% if (receiversList.length === 0){ %>
    <div class="alert alert-primary">
      Your receivers storage is empty.
      Please add receivers.
    </div>
  <% }else{ %>

  <form id="receivers-form" action="/receivers" method="post">

    <table class="table table-primary table-hover">
      <tbody>
        <% receiversList.forEach((receiver) => { %>
        <tr class="receiver">
          <td class="table-primary"><input class="checkbox" type="checkbox" name="receiverId" value=<%= receiver._id %> ></td> 
          <td class="table-primary"><%= receiver.name %></td>
          <td class="table-primary"><%= receiver.email %></td>
          <td class="table-primary last-element"><a href="/receivers/<%= receiver._id %>">edit</a></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

  </form>
  <% }; %>

</section> 

<script>
  // Searching
  document.querySelector('#searchInput').addEventListener('input', filterFunction);

  function filterFunction(){
    const searchInput = document.querySelector('#searchInput');
    const filter = searchInput.value.toLowerCase();
    const itemsList = document.querySelectorAll('.receiver');
    
    itemsList.forEach((item) => {
      const textContent = item.innerText.replace('edit', '');
      
      if(textContent.toLowerCase().includes(filter)){
        item.style.display = '';
      }else{
        item.style.display = 'none';
      }
    });
  };

  // Deleting button arise
  document.querySelector('#receivers-form').addEventListener('click', checkboxFunc)
  const checboxsCount = document.querySelectorAll('input[type=receivers-form]').length;
  const deleteButton = document.querySelector('button.btn-danger');

  function checkboxFunc() {
    const checkedCheckboxesCount = document.querySelectorAll('input[type=checkbox]:checked').length;
    if(checkedCheckboxesCount != 0){
      deleteButton.style.display = 'block';
    }else{
      deleteButton.style.display = 'none';
    }
  };

</script>