<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MailSender</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header>
    <div class="header-section">
        <a href="/"><h1>MailSender</h1></a>
    </div>
    <div class="header-section">
      <a href="/receivers"><h2>Receivers</h2></a>
      <a href="/letters"><h2>Letters</h2></a>
      <a href="/dissemination"><h2>Dissemination</h2></a>
    </div>
  </header>
  <%- body %>
</body>
</html>