/*
#F3EEEA
#EBE3D5
#B0A695
#776B5D
*/

*{
  color: #776B5D;
  transition: 100ms;
}

body{
  background-color: #F3EEEA;
  margin: 0;
}

section{
  padding: 0 10vw;
}

header {
  padding: 3rem 10vw 2rem;
  display: flex;
  justify-content: space-between;
}

a {
  color: #776B5D;
  text-decoration: none;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.25rem;
}

a:hover {
  opacity: 0.5;
}

.table {
  margin: 1rem 0;
}

tr .last-element {
  text-align: right;
}

tr {
  margin: auto, 10rem;
}

.alert {
  margin: 1rem auto;
}

.container {
  padding: 0;
  margin: 1rem auto;
}

.col {
  padding-bottom: 1.5rem;
}

.card-text {
  height: 13rem;
  overflow: scroll;
  white-space: break-spaces;
  text-align: justify;
}

/* HEADER */
.header-section{
  display: flex;
  align-items: center;
  gap: 2rem;
}



/* All routes */
section h1 {
  font-size: 1.5rem;
}

ul{
  list-style-type: none;
  padding: 0;
}


/* RECEIVERS /receivers route */
.recievers-section {
  margin: 2rem 0;
}

.receivers-top-tab {
  display: flex;
  justify-content: space-between;
}

.receivers-buttons {
  display: flex;
  gap: 2rem;
}

.receivers-buttons input {
  width: 25vw;
} 

.receivers-buttons button{
  display: none;
}

/* RECEIVERS /receivers/add */
.receiver-add-alert-warning {
  display: flex;
  justify-content: space-between;
}


/* LETTERS TEMPLATES /letters route */
.text-to-hide {
  margin: 0;
}

.receivers-table-container-in-template-card {
  height: 0px;
  margin-top: 0;
  overflow: scroll;
}

.receivers-button-letters-card {
  width: 100%;
  text-align: left;
  border-radius: 0%;
}

.receivers-table-letters-card {
  margin-top: 0;
}


.hidden {
  height: 0px;
    -webkit-transition: height 0.5s linear;
       -moz-transition: height 0.5s linear;
        -ms-transition: height 0.5s linear;
         -o-transition: height 0.5s linear;
            transition: height 0.5s linear;
}

.open {
  height: 13rem;
  -webkit-transition: height 0.5s linear;
     -moz-transition: height 0.5s linear;
      -ms-transition: height 0.5s linear;
       -o-transition: height 0.5s linear;
          transition: height 0.5s linear;
}


/* TEMPLATE CREATION /letters/add route */
/* all receivers */
.all-receivers-top-tab {
  display: flex;
  justify-content: space-between;
}

.all-receivers-top-tab input {
  width: 25vw;
}

.addLetter-all-receivers-buttons-div {
  display: flex;
  gap: 1rem;
}

/* letter */
.addLetter-textarea {
  resize: none;
}


/* selected receivers */
.added-receiver-card {
  background-color: #F3EEEA;
  margin-bottom: 1rem;
}

#create-template-button {
  margin: 1rem auto 2rem;
}







