<section>
  <h1 class="headline-text">Receivers storage</h1>
  <div class="recievers-section receivers-buttons">
    <div class="elements left-el">
      <a class="element" href="/receivers/add">Add new receivers</a>
    </div>
    <div class="elements right-el">
      <button class="element" type="submit" form="receivers-form">Delete</button>
      <input class="element searchInput" id="searchInput" type="text" name="searchInput" placeholder="Search">
    </div>
  </div>
  <div class="recievers-section receivers-list">
    <% if (receiversList.length === 0){ %>
      <p>Your receivers storage is empty.</p>
      <p>Please add receivers.</p>
    <% }else{ %>
    <form id="receivers-form" action="/receivers" method="post">
      <ul>
        <% receiversList.forEach((receiver) => { %>
          <li class="receiver">
            <div class="receiver-elements">
              <input class="checkbox" type="checkbox" name="receiverId" value=<%= receiver._id %>>
              <p class="text name"><%= receiver.name %></p>
              <p class="text email"><%= receiver.email %></p>
            </div>
            <div class="receiver-elements">
              <a class="edit" href="/receivers/<%= receiver._id %>">edit</a>
            </div>
          </li>
        <% }); %>
      </ul>
    </form>
    <% } %>
  </div>
</section>

<script>
  // Searching
  document.querySelector('#searchInput').addEventListener('input', filterFunction);

  function filterFunction(){
    const searchInput = document.querySelector('#searchInput');
    const filter = searchInput.value.toLowerCase();
    const itemsList = document.querySelectorAll('.receiver');
    
    itemsList.forEach((item) => {
      const [name, email, _] = item.innerText.split('\n\n');
      const textContent = name.concat(" " + email);
      
      if(textContent.toLowerCase().includes(filter)){
        item.style.display = '';
      }else{
        item.style.display = 'none';
      }
    });
  };

  // Deleting

</script>