<section>
  <h1>Receivers storage</h1>
  <div class="recievers-section receivers-buttons">
    <a href=""><h3>Add new receivers</h3></a>
    <button type="submit" form="receivers-form">Delete</button>
    <form>
      <input type="text" name="searchInput">
      <input type="submit">
    </form>
  </div>
  <div class="recievers-section receivers-list"></div>
</section>